<h1>Add Vendors</h1>
<p>Add a Vendor Here:</p>

<form action="/vendors" method="post">
  <label for="vendorsName">Vendors Name</label>
  <input id="vendorsName" name="vendorsName" type="text">
  <label for="vendorsDescription">Vendors Description:</label>
  <input id="vendorsDescription" name="vendorsDescription" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to Vendors.</a></p>